
.header {
  display: flex;
  justify-content: space-between;
}

.nav-link {
  margin: 2%;
  color: #6070ff;
  margin-top: 10%;
}

.logo {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
}

.icon-links {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin-left: 0;  
}

.icon-links li {
  margin-right: 5%;
}

.information {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  margin-bottom: 0;
}

.description {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.contact {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.article {
  background-image: url('./img/background.png');
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: cover;
  padding-top: 10%;
  padding-bottom: 10%;
  width: auto;  
}

a {
  text-decoration: none;
}
